/* SearchHistory.css */
.search-history-button {
    width: auto;
    background-color: #5235b3; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1rem; /* Font size */
    margin-bottom: 10px; /* Space between buttons */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.search-history-button:hover {
    background-color: #745abc; /* Darker blue on hover */
}

.start-new-session-button {
    background-color: #28a745; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px; /* Space above the button */
    transition: background-color 0.3s ease;
}

.start-new-session-button:hover {
    background-color: #218838; /* Darker green on hover */
}
